/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.lo
/storage
/vendor
/.well-known
.env
.env.example
.gitignore
artisan
composer.json
composer.lock
package.json
server.php
yarn.lock
yarn-error.log
.DS_Store
.editorconfig
.gitattributes
